* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  body {
    background-color:black;
     
  }
  
    /* background-image: url("a.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(8px); */
  
  
  
  #noItemMsg p {
    color: white;
    font-size: 25px;
    margin-left: 150px;
  }
  
  .header-content {
    color: white;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }
  .main-heading h1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 50px;
  }
  .header-content p {
    font-size: 30px;
    cursor: pointer;
  }
  .header-content i {
    margin-right: 10px;
    color:rgb(241, 138, 21);
    font-size: 30px;
  }
  
  #task-input-container {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid red;
    width: 30%;
    height: 30%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 23px 23px 80px #0a0a0a, -23px -23px 60px;
    z-index: 2;
    visibility: hidden;
  }
  #minitask-input-container {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid red;
    width: 30%;
    height: 30%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 23px 23px 80px #0a0a0a, -23px -23px 60px;
    z-index: 2;
    visibility: hidden;
  }
  
  .task-input-heading h1 {
    margin-top: 30px;
    font-size: 30px;
    color: maroon;
    text-shadow: 2px 2px 5px yellow;
    font-weight: 100;
  }
  
  input[type="text"] {
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(202, 26, 114);
    text-align: center;
    font-size: 20px;
  }
  
  .task-input-button {
    display: flex;
    justify-content: space-around;
  }
  .task-input-button p {
    text-decoration: none;
    background-color: yellow;
    color: red;
    font-size: 25px;
    padding: 5px 25px;
    border-radius: 20px;
    cursor: pointer;
    width: 130px;
  }
  
  #list-container {
    display: flex;
    justify-content: space-between;
    margin: 100px 160px 0px 190px;
    flex-wrap: wrap;
  }
  
  .card-1 {
    height: 300px;
    width: 200px;
    border: 2px solid blue;
    background-color: white;
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
    margin: 0px 20px 20px 0px;
    box-shadow: 10px 10px 10px #b4b4b4;
  }
  .icon-div {
    /* margin-top: 200px; */
    border: 0px solid rgb(3, 58, 95);
    text-align: right;
  }
  .icon-div i {
    color:rgb(83, 81, 81);
    margin-left: 12px;
  }
  #add-icon {
    color: rgb(172, 7, 62);
    margin-right: 10px;
  }
  #add-task-name {
    font-size: 30px;
  }
  
  .head-div {
    border-bottom: 1px solid black;
  }
  .head-div h1 {
    font-size: 26px;
    padding: 13px;
    font-weight: lighter;
    color: maroon;
    text-shadow: 2px 2px 5px lightcoral;
    cursor: pointer;
  }
  #card-header-content {
    display: none;
  }
  
  .middle-div {
    height: 190px;
  }
  .mini-item-div {
    margin-top: 5px;
  }
  #mini-item {
    font-size: 20px;
  }
  #cancel-item {
    font-size: 15px;
    background-color: green;
    padding: 5px 8px;
    color: white;
    border-radius: 30px;
    margin-left: 10px;
    cursor: pointer;
  }